<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="variable-filter">
<entry key="filter-type" type="xstring" value="STANDARD"/>
<config key="included_names">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="2"/>
<entry key="0" type="xstring" value="Country"/>
<entry key="1" type="xstring" value="baseyear"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceInclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value=""/>
<entry key="type" type="xstring" value="Wildcard"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
</config>
<entry key="variable-prefix" type="xstring" isnull="true" value=""/>
<entry key="sub-node-description" type="xstring" value=""/>
<config key="port-names">
<entry key="array-size" type="xint" value="12"/>
<entry key="0" type="xstring" value="2.1 Buildings"/>
<entry key="1" type="xstring" value="3.1a Industry"/>
<entry key="2" type="xstring" value="2.3 District Heating"/>
<entry key="3" type="xstring" value="3.1b Industry Ammonia"/>
<entry key="4" type="xstring" value="5.1 Electricity"/>
<entry key="5" type="xstring" value="5.2 Oil Refinery"/>
<entry key="6" type="xstring" value="4.1 Land-use"/>
<entry key="7" type="xstring" value="4.3 Agriculture"/>
<entry key="8" type="xstring" value="4.5 Biodiversity"/>
<entry key="9" type="xstring" value="2.2 Transport"/>
<entry key="10" type="xstring" value="Pathway Explorer"/>
<entry key="11" type="xstring" value="Port 12"/>
</config>
<config key="port-descriptions">
<entry key="array-size" type="xint" value="12"/>
<entry key="0" type="xstring" value="Input from 2.1 Buildings"/>
<entry key="1" type="xstring" value="Input from 3.1a Industry"/>
<entry key="2" type="xstring" value="Input from 2.3 District Heating"/>
<entry key="3" type="xstring" value="Input from 3.1b Industry Ammonia"/>
<entry key="4" type="xstring" value="Input from 5.1 Elictricity"/>
<entry key="5" type="xstring" value="Input from 5.2 Oil Refinery"/>
<entry key="6" type="xstring" value="Input from 4.1 Land-use"/>
<entry key="7" type="xstring" value="Input from 4.3 Agriculture"/>
<entry key="8" type="xstring" value="Input from 4.5 Biodiversity"/>
<entry key="9" type="xstring" value="Input from 2.2 Transport"/>
<entry key="10" type="xstring" value="Output to Pathway explorer"/>
<entry key="11" type="xstring" value=""/>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.core.node.workflow.virtual.subnode.VirtualSubNodeInputNodeFactory"/>
<entry key="node-name" type="xstring" value="WrappedNode Input"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Core API"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.core"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="3.7.2.v201904170949"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="3.7.2.v201904171038"/>
<config key="factory_settings">
<config key="port_0">
<entry key="index" type="xint" value="0"/>
<config key="type">
<entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
</config>
</config>
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<config key="type">
<entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
</config>
</config>
<config key="port_2">
<entry key="index" type="xint" value="2"/>
<config key="type">
<entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
</config>
</config>
<config key="port_3">
<entry key="index" type="xint" value="3"/>
<config key="type">
<entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
</config>
</config>
<config key="port_4">
<entry key="index" type="xint" value="4"/>
<config key="type">
<entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
</config>
</config>
<config key="port_5">
<entry key="index" type="xint" value="5"/>
<config key="type">
<entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
</config>
</config>
<config key="port_6">
<entry key="index" type="xint" value="6"/>
<config key="type">
<entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
</config>
</config>
<config key="port_7">
<entry key="index" type="xint" value="7"/>
<config key="type">
<entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
</config>
</config>
<config key="port_8">
<entry key="index" type="xint" value="8"/>
<config key="type">
<entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
</config>
</config>
<config key="port_9">
<entry key="index" type="xint" value="9"/>
<config key="type">
<entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
</config>
</config>
<config key="port_10">
<entry key="index" type="xint" value="10"/>
<config key="type">
<entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
</config>
</config>
<config key="port_11">
<entry key="index" type="xint" value="11"/>
<config key="type">
<entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
</config>
</config>
</config>
<entry key="name" type="xstring" value="WrappedNode Input"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 957, Cols: 53"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
<config key="port_2">
<entry key="index" type="xint" value="2"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 957, Cols: 49"/>
<entry key="port_dir_location" type="xstring" value="port_2"/>
</config>
<config key="port_3">
<entry key="index" type="xint" value="3"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 957, Cols: 23"/>
<entry key="port_dir_location" type="xstring" value="port_3"/>
</config>
<config key="port_4">
<entry key="index" type="xint" value="4"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 957, Cols: 5"/>
<entry key="port_dir_location" type="xstring" value="port_4"/>
</config>
<config key="port_5">
<entry key="index" type="xint" value="5"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 957, Cols: 10"/>
<entry key="port_dir_location" type="xstring" value="port_5"/>
</config>
<config key="port_6">
<entry key="index" type="xint" value="6"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 957, Cols: 3"/>
<entry key="port_dir_location" type="xstring" value="port_6"/>
</config>
<config key="port_7">
<entry key="index" type="xint" value="7"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 957, Cols: 14"/>
<entry key="port_dir_location" type="xstring" value="port_7"/>
</config>
<config key="port_8">
<entry key="index" type="xint" value="8"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 957, Cols: 45"/>
<entry key="port_dir_location" type="xstring" value="port_8"/>
</config>
<config key="port_9">
<entry key="index" type="xint" value="9"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 957, Cols: 5"/>
<entry key="port_dir_location" type="xstring" value="port_9"/>
</config>
<config key="port_10">
<entry key="index" type="xint" value="10"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 957, Cols: 44"/>
<entry key="port_dir_location" type="xstring" value="port_10"/>
</config>
<config key="port_11">
<entry key="index" type="xint" value="11"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 1293, Cols: 138"/>
<entry key="port_dir_location" type="xstring" value="port_11"/>
</config>
<config key="port_12">
<entry key="index" type="xint" value="12"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 754, Cols: 8"/>
<entry key="port_dir_location" type="xstring" value="port_12"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="09c08dde-ed20-4386-bc44-f338ae320042"/>
</config>
</config>
